<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLOXGoband.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CCBand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>FitGo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>FitRistPulzz.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GetFit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>GoBand.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Gorbiller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Haier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>IntexFitRist.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SPRINFIT.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SXRBandTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YourFitnessTracker.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14118FBE1D1BBB0F0004B04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14861DA01CDC9AB100AB756B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B674771D07B43300AF104C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14BBDFF51D658F5100555556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14C43C7B1D050E27004D0017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14C43E4F1D051ED5004D0017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14E8FC601CF7DABA0022647B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01AA1701C43E690003FB1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01AA5681C460127003FB1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B05D41C819760FF400082B56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B07B17421C1042DE00E21BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0C164691CB79716007FB0FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0DD6A2E1C9950DF009ED5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
