<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qq</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>appId</key>
		<string>1106081159</string>
		<key>appKey</key>
		<string>A4Gs0fpVcFKtrXZL</string>
	</dict>
	<key>wechat</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>appId</key>
		<string>wxdf056be385eea162</string>
		<key>appKey</key>
		<string>2b8fc4aeea26cc7810c4f874b76f2d5e</string>
	</dict>
	<key>facebook</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>appId</key>
		<string>1631899927108281</string>
		<key>appKey</key>
		<string>f1d688d3f0eca380aa26e110a14a6509</string>
	</dict>
	<key>twitter</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>appId</key>
		<string>0Alwzrhcs8ACd11IbfMBrHgYy</string>
		<key>appKey</key>
		<string>poB0ZPggSy6B6j5Lq8kWcCKkx5nmzxrYLl7cB0QYtTHUXXveXD</string>
	</dict>
	<key>weibo</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>appId</key>
		<string>2123103657</string>
		<key>appKey</key>
		<string>7ec1de8d666e6b24b3b1b063a8ab7822</string>
	</dict>
	<key>mail</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>appId</key>
		<string></string>
		<key>appKey</key>
		<string></string>
	</dict>
	<key>linkedin</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>appId</key>
		<string>8169zyccwz38ez</string>
		<key>appKey</key>
		<string>WbEKSQ5HJ1Vgsr2M</string>
	</dict>
	<key>shareKey</key>
	<string>18e4f03162966</string>
	<key>bleName</key>
	<string>W4S</string>
	<key>vid</key>
	<string>000016001001</string>
	<key>bugly_id</key>
	<string>8bb67f48a2</string>
	<key>jpush_appkey</key>
	<string>d7fb960bbd1fd334440dab12</string>
	<key>HealthKit</key>
	<array>
		<string>HKQuantityTypeIdentifierStepCount</string>
		<string>HKQuantityTypeIdentifierHeartRate</string>
		<string>HKQuantityTypeIdentifierBodyTemperature</string>
		<string>HKQuantityTypeIdentifierDistanceWalkingRunning</string>
		<string>HKQuantityTypeIdentifierDistanceCycling</string>
		<string>HKWorkoutTypeIdentifier</string>
		<string>HKQuantityTypeIdentifierActiveEnergyBurned</string>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>applog_upload_qiniu</key>
	<dict>
		<key>enable</key>
		<true/>
		<key>scope</key>
		<string>applog</string>
		<key>accesskey</key>
		<string>cAz2dKqt2jjnTKLNF-tHtQ21R4devC7p4L4NV5bW</string>
		<key>secretkey</key>
		<string>iVfGUnOTgNnrhIa6J7B2fLA8bYR2SOHtKbDhW9zS</string>
	</dict>
</dict>
</plist>
